<app-header></app-header>
<div layout-fill layout="column" layout-align="center none">
  <div layout="row" layout-align="center none">
      <mat-card-header>
      </mat-card-header>
      <app-view-league></app-view-league>
      
          <button id = "editProfile" mat-raised-button (click)="editProfile()" style="background:black;color:white">Edit Profile</button>
          <button id = "createLeague" mat-raised-button (click)="createLeague()" style="background:black;color:white">Create League</button>
          <button id = "joinLeague"  mat-raised-button (click)="joinLeague()" style="background:black;color:white">Join League</button>
          <app-join-league *ngIf="joinLeagueForm" [user]="user"></app-join-league> 
      
  </div>
</div>