<app-header></app-header>
<div layout-fill layout="column" layout-align="center none">
  <div layout="row" layout-align="center none">
      <mat-card-header>
      </mat-card-header>
      <app-view-league></app-view-league>
      <div class= "row form_align">
          <button id = "editProfile" mat-raised-button (click)="editProfile()" color="primary">Edit Profile</button>
          <button id = "createLeague" mat-raised-button (click)="createLeague()" color="primary">Create League</button>
          <button id = "joinLeague"  mat-raised-button (click)="joinLeague()" color="primary">Join League</button>
          <app-join-league *ngIf="joinLeagueForm" [user]="user"></app-join-league> 
      </div>
  </div>
</div>