<app-header></app-header>
<mat-card-header>
    <mat-card-title *ngIf="user">{{user.uname}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input *ngIf="user" matInput placeholder="Name" [(ngModel)]="user.uname" name="name">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input *ngIf="user" matInput placeholder="E-Mail" [(ngModel)]="user.email" name="username">
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input *ngIf="user" matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password">
        </mat-form-field></td>
      </tr></table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    <button id = "submitProfile" mat-raised-button (click)="submitProfile()" color="primary">Submit</button>
  </mat-card-content>
