<app-header></app-header>
<div layout-fill layout="column" layout-align="center none" class="container">
  <div layout="row" layout-align="center none" class="sub_container">
    <mat-card class="example-card league_form_align" [style.opacity]="0.90">
      <mat-card-header style="margin-left: 30%">
        <mat-card-title class="font_color_class">Edit Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form form_class">
          <table class="example-full-width form_align" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
				  <input *ngIf="user" matInput placeholder="Name" [(ngModel)]="user.uname" name="name" class="font_color_label" style="color: black">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
				<input *ngIf="user" matInput placeholder="E-Mail" [(ngModel)]="user.email" name="username" class="font_color_label" style="color: black">
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width">
                <input *ngIf="user" matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" class="font_color_label" style="color: black">
            </mat-form-field></td>
          </tr></table>
        </form>
		<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
	<button mat-raised-button (click)="submitProfile()" style="margin-bottom: 8%;background:black;color:white">Submit</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>