<app-header></app-header>
    <div class="examplecard">
        <h2><span>Welcome</span><span>To</span><span>{{leagueName}}'s</span><span>league</span></h2>
    <div class="matches">
        <div id = "title">Today's Schedule:</div>
        <ul *ngFor="let match of matchschedule">
          <li><div>{{match.team1}}<span>vs</span><span>{{match.team2}}</span></div></li>
         </ul>
    </div>
    <div class="leaders">
        <div id = "title">League Leaders</div>
        <ul *ngFor="let leaders of leagueLeaders">
          <li><div><a [routerLink]="path + leaders.id">{{leaders.user.uname}}</a><span>{{leaders.points}}</span></div></li>
        </ul>
        <button class="addbtn" mat-raised-button style="background:black;color:white" (click)="checkSummary()" >Check Point Summary</button>
    </div>
    </div>
    <app-player-list></app-player-list>
    <button class="addbtn" mat-raised-button style="background:black;color:white" (click)="selectPlayers()" >Select Players</button>
