body{
    padding : 0px;
    margin : 0px;
    box-sizing: border-box;
}

.examplecard{
    width: 100%;  
    height: 100%;
}
a{
    text-decoration: none;
}

#title{
    padding :20px;
    text-align: center;
    font-weight: bold
}
.matches{
    width: 50%;
    height: 100%;
    float: left;
}
li{
    text-align: left;
}
span{
    padding:10px;
}
.leaders{
    width: 50%;
    height: 100%;
    float:right;
}
.addPlayer{
    float:right;
}