h1{
    margin : 0px;
    color: white;
    text-align: right;
    padding-top: 25px;
}
.container {
    background-color: rgba(0, 0, 0,0.90);
    height: 100px;
}
a{
    text-decoration: none;
}
.logout{
    margin-top:2%;
    margin-left: 5%;
	background:white;
	color:black;
}
.title{
width:60%;
float: left;
color:white;
}
span{
    font-weight: bold;
	color:white;
}