.container{
    width:100%;
    height:100%;
	background-image: url("../backgroundImage4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position : fixed;
}

.sub_container
{
	height:300px;
	width:40%;
	background : rgba(0, 0, 0, 0.75);
	position : relative;
	margin-left:30%;
	margin-top : 15%;
	font-color: black;
	border-radius:5%
}

.form_class
{
	color:white;
	margin-left:35%;
}


.font_color_class
{
	background: rgba(0, 0, 0, 0.75);
	font-family: Sans-serif;
	font-size:24pt;
	color: white;
}
.font_color_label{
	background-color: white;
	height: 30px;
	border-radius: 6%;
	margin-top: -4%;
	margin-left: -3%;
}
.form_align{
	margin-top: 15%;
}
/* /deep/ .mat-form-field {
	font: black;
    background-color: white;    /* replace this color with your accent color hex code
} */

/* /deep/ .matInput{
	background-color: white;
} */
