<body>

  <div class="container">
          <img src="nhl.png">
         <form class="example-form">
            <div class="form-input">
             <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </div>

            <div class="form-input">
               <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </div>

           <button class="btn waves-effect waves-light" type="submit" name="action" mat-raised-button (click)="login()">Submit
          <i class="material-icons right">send</i>
          </button>

          <br/><br/>
            <a href="signin.html" > Sign in</a>

          </form>
        </div>
        </body>
<!-- <div layout-fill layout="column" layout-align="center none">
  <div layout="row" layout-align="center none">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->


<!--div class="row">

  <div class="col-md-6 col-md-offset-2">
    <h1>Login </h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" formControlName="email" id="email">
        <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
          <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd">
        <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
          <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
        </div>
      </div>
      <button class="btn btn-default">Login</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
    </form>
    <p>{{user.uname}}</p>
  </div>
</div>-->